<mat-card>
  <mat-toolbar color="primary">Login</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <p *ngIf="errorMessage" class="loginError">
        {{ errorMessage }}
      </p>
    </form>
  </mat-card-content>
</mat-card>
